.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
}

img {
  display: block;
  object-fit: cover;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.imageContainer img {
  transition: transform 0.3s ease;
}

.imageContainer:hover img {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}
.magnifying-glass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageContainer:hover .magnifying-glass {
  opacity: 1;
}

.modalDescription {
  font-size: 1rem;
  color: #333;
  text-align: center;
  line-height: 1.5;
  max-width: 90%;
  word-wrap: break-word;
}

p {
  font-size: 1rem;
  color: #333;
  text-align: center;
  padding: 10px 0;
}
.descriptionModal {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
